In [1]:
names=['Ali','Joe','Doe','Boi']

print(names)
print(names[0])
print(names[1])
print(names[2])
print(names[3])

['Ali', 'Joe', 'Doe', 'Boi']
Ali
Joe
Doe
Boi

In [2]:
names.append("Khan")

print(names)

['Ali', 'Joe', 'Doe', 'Boi', 'Khan']

In [3]:
names.insert(1, "mike")

print(names)

['Ali', 'mike', 'Joe', 'Doe', 'Boi', 'Khan']

In [4]:
names.remove("Joe")

print(names)

['Ali', 'mike', 'Doe', 'Boi', 'Khan']

In [5]:
names.pop(0)

print(names)

['mike', 'Doe', 'Boi', 'Khan']

In [6]:
print(names.index("Doe"))

1

In [ ]:
names=[]
for i in range(5):
    name = input("Enter name: ")

    names.append(name)
print(names)

In [ ]:
print(len(names))

4

In [ ]:
age=[3,4,5,6,6,7,8,9]

print(age.count(6))

2

In [ ]:
print(names.count("Boi"))

1

In [ ]:
students=["Ali","Doe","John"]
employees=["Hassan","Sarfaraz","Kashif"]

user_name=input("Enter your name: ")

if user_name  in students:
    print("Yes user is in students")
elif user_name in employees:
    print("Yes user is in employee")
else:
    print("User is not found in any list")

User is not found in any list

In [ ]:
names=["John","Boi","Doe"]
age=[3,4,5,6,7,8]
names.reverse()
age.reverse()
print(names)
print(age)

['Doe', 'Boi', 'John']
[8, 7, 6, 5, 4, 3]

In [ ]:
names=["John","Doe","Boi"]
abcd="Kashif"
print(abcd in names)
if abcd in names:
    print(f"{abcd} is in list")

False

In [ ]:
ages=[23,45,67,90,13]

max_age=max(ages)
min_age=min(ages)

print(f"Max age: {max_age}")
print(f"Min age: {min_age}")

Max age: 90
Min age: 13

In [ ]:
name=["Ali","John"]

for nm in names:
    print(nm)

John
Doe
Boi

In [ ]:
age=[1,2,3,4,55,44,66]
age=input("Enter your age")
age=int(age)
    
if age>=18:
    print("18 above")
else:
    print("Under 18")

Under 18

In [ ]:
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(matrix[1][2])

6

In [ ]:
numbers=(1, 2, 3)
print(numbers)

(1, 2, 3)

In [ ]:
person=("Alice", 34, "Haider")
print(person[0])
print(person[1])

Alice
34

In [ ]:
coordinates = ((10,20),(30,40))
print(coordinates[1])

person[1]=26

(30, 40)

TypeError: 'tuple' object does not support item assignment

In [ ]:
student={
    'name':'John',
    'age': '21',
    'courses': ['Maths', 'Science', 'English']
    
}

print(student)
print(student['name'])
print(student['age'])
print(student['courses'])

{'name': 'John', 'age': '21', 'courses': ['Maths', 'Science', 'English']}
John
21
['Maths', 'Science', 'English']

In [ ]:
student['phone'] = '0345667575'
print(student)

{'name': 'John', 'age': '21', 'courses': ['Maths', 'Science', 'English'], 'phone': '0345667575'}

In [ ]:
my_car={
  "name":"KIA",
  "model":"Picanto",
  "year":"2021",
  "color":"Silver",
"owner":"Haider"

  
 }

print(my_car)

{'name': 'KIA', 'model': 'Picanto', 'year': '2021', 'color': 'Silver', 'owner': 'Haider'}

In [ ]:
del student['age']

print(student)

{'name': 'John', 'courses': ['Maths', 'Science', 'English'], 'phone': '0345667575'}

In [ ]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'courses', 'phone'])
dict_values(['John', ['Maths', 'Science', 'English'], '0345667575'])
dict_items([('name', 'John'), ('courses', ['Maths', 'Science', 'English']), ('phone', '0345667575')])

In [ ]:
for key in student:
    print(f"{key}: {student[key]}")

name: John
courses: ['Maths', 'Science', 'English']
phone: 0345667575

In [ ]:
myself={
    "names":"Haider",
    "age": "17",
    "hobbies":"GYM",
    "skills":"Beginner developer",

}

print(myself)

{'names': 'Haider', 'age': '17', 'hobbies': 'GYM', 'skills': 'Beginner developer'}

In [ ]:
phonebook = {
    "ALI":"03216758049",
    "Zayan":"03425678325",
    "Zeeshan":"03245768764",
}
print(phonebook)

{'ALI': '03216758049', 'Zayan': '03425678325', 'Zeeshan': '03245768764'}

In [ ]:
phonebook['Zayan']

'03425678325'

In [ ]:
class person:
    def sayHi(self):
        print("Hi!")

watchman=person()
watchman.sayHi()
cardriver=person()
cardriver.sayHi()

Hi!
Hi!

In [ ]:
class Person:
    def _init_(self,name,age):
        self.name = name
        self.age = age
    def tellMyName(self):
        print(f"My name is {self.name}")
    def tellMyAge(self):
        print(f"My name is {self.age}")

In [ ]:
salesPerson= person("Ali", 30)
salesPerson.tellMyAge()
salesPerson.tellMyName()

In [22]:
class car:
    def __init__(self,make,model,year,ownerInfo):
        self.make = make
        self.model = model
        self.year = year
        self.fuel = 0
        self.mileage = 0
        self.owner = ownerInfo
    def fuelUp(self, liters):
        self.fuel += liters
        print(f"Filling up {liters} liters of fuel.")

    def getCurrentFuel(self):
        return self.fuel

    def getOwnerInfo(self):
        return self.owner

    def getCurrentMileage(self):
        return self.mileage 

    def drive(self, distance):
        fuel_consumed = distance / 5
        if fuel_consumed > self.fuel:
            print("Not enough fuel to drive the distance.")
            return
        self.mileage += distance 
        self.fuel -= fuel_consumed
        print(f"Driving {distance} km.")

my_car = car("KIA","Picanto",2021,{
    "name" : "Haider"
})


my_car.fuelUp(30)
my_car.drive(20)

Filling up 30 liters of fuel.
Driving 20 km.

In [20]:
my_car.getCurrentFuel()

26.0

In [21]:

my_car.getCurrentMileage()

20

In [23]:
my_car.getOwnerInfo()

{'name': 'Haider'}

In [ ]:
HomeCar=car("Toyota","Aqua",2019,{
    "name" : "ALI"
})

In [ ]:
HomeCar.getCurrentFuel()